[core]
	editor = \"C:\\Users\\amarq\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = Alfredo Marquez
	email = amarquezsv@outlook.com
[init]
	degaultBranch = main
